@import url("./toast.css");
@import url("./combobox.css");
@import url("./article.css");
@import url("./license.css");
@import url("./tree.css");
@import url("./inputs.css");
@import url("./utilities.css");
@import url("./dialog.css");
@import url("./mapper-archives.css");

:root {
	--margin-0: 0.25rem;
	--margin-1: 0.5rem;
	--margin-2: 1rem;

	/** Base colors */
	--clr-dark-a0: #000000;
	--clr-light-a0: #ffffff;

	/** Theme primary colors */
	--text-primary: #ffffff;

	/** Theme surface colors */
	--color-surface-0: #121212;
	--color-surface-1: #282828;
	--color-surface-2: #3f3f3f;
	--color-surface-3: #575757;
	--color-surface-4: #717171;
	--color-surface-5: #8b8b8b;

	--color-border-0: #575757;
	--color-border-1: #676767;

	/** Theme tonal surface colors */
	--color-tone-0: #252525;
	--color-tone-1: #393939;
	--color-tone-2: #4f4f4f;
	--color-tone-3: #666666;
	--color-tone-4: #7d7d7d;
	--color-tone-5: #969696;

	--color-highlight: #026ec1;
	--color-green: #2ea043;
	--color-red: #f85149;
	--color-purple: rgb(119, 107, 231);

	--default-font: "roboto";
	--monospace-font: "roboto mono";
	--font-size-0: 1rem;
	--font-size-1: 1.5rem;
}

body {
	font-family: var(--default-font);
	font-size: var(--font-size-0);
	background-color: #1f1f1f;
	color: var(--text-primary);
	margin: 0;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	background-color: var(--color-surface-1);
}

header {
	display: flex;
	margin-top: var(--margin-0);
	padding-left: var(--margin-0);
	padding-right: var(--margin-0);
	background-color: var(--color-surface-0);
	border-bottom: 2px solid var(--color-border-0);

	nav {
		display: flex;
		flex-grow: 1;
		align-self: flex-end;
		background-color: var(--color-surface-0);

		>button {
			display: flex;
			align-items: center;
			margin-right: var(--margin-0);
			padding: var(--margin-0) var(--margin-1);

			&[disabled] {
				color: var(--color-tone-0);
			}
		}
	}

	div {
		display: flex;
		align-content: center;
		order: 2;
		margin-left: auto;
		background-color: var(--color-surface-0);

		h1 {
			font-size: var(--font-size-0);
			font-family: var(--default-font);
			display: inline;
		}

		button {
			border: none;
			margin-left: 8px;
			color: var(--font-color-main);
			background-color: var(--color-surface-0);
		}
	}
}

nav.tab {
	button {
		position: relative;
		clip-path: polygon(0 12px, 12px 1%, 100% 0, 100% 100%, 0 100%);
		color: var(--font-color-main);
		border: 2px solid var(--color-border-0);
		background-color: var(--color-border-0) !important;
		padding: 6px 12px 6px 12px;
		margin-bottom: -2px;
		align-content: center;

		&.active {
			border-bottom: 1px solid var(--color-surface-1);
		}

		&[disabled] {
			color: #969696;
		}

		&::before {
			content: "";
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			clip-path: polygon(0 12px, 12px 1%, 100% 0, 100% 100%, 0 100%);
			background-color: var(--color-surface-1);
		}

		&[disabled]::before {
			background-color: black;
		}

		&>.material-icons {
			padding-right: var(--margin-0);
		}

		&.active>.material-icons {
			padding-right: var(--margin-0);
			color: var(--color-highlight)
		}
	}
}

main {
	flex-grow: 1;
	padding: 0 8px;
}

h2 {
	margin-bottom: 0;
	text-decoration: underline;
}

footer {
	background-color: var(--color-surface-0);
	min-height: 3rem;
	text-align: center;
	display: flex;
	padding: 0 8px;

	span:nth-child(1) {
		flex-grow: 1;
		align-content: center;
	}

	span:nth-child(2) {
		text-align: right;
		align-content: center;
	}
}


main.loading {
	display: flex;
	width: 100%;
	justify-content: center;
	flex-direction: column;

	* {
		text-align: center;
		font-family: var(--default-font);
	}

	progress {
		width: 25rem;
	}
}

a {
	color: var(--color-highlight);
}

.property {
	display: flex !important;
	padding: var(--margin-0);

	>label {
		min-width: 15rem;
		display: flex;
		gap: var(--margin-0);
	}

	.property-bytes {
		input {
			margin-left: -2px;

			&:focus-visible {
				outline: none;
				border-color: var(--color-highlight);
				z-index: 99;
			}
		}
	}

	>div:nth-child(2) {
		flex-grow: 1;
		/* display: flex; */
		gap: var(--margin-0);
		flex-direction: column;

		div {
			display: flex;
			align-items: center;
		}

		table {
			width: 100%;
			margin-top: var(--margin-0);
			font-family: var(--monospace-font);
			border: 1px solid var(--color-tone-1);
			border-collapse: collapse;

			tr:nth-child(odd) {
				background-color: var(--color-tone-1);
			}

			tr:nth-child(even) {
				background-color: var(--color-tone-0);
			}

			td {
				padding: var(--margin-0);
				min-height: 44px;
			}

			td:nth-child(2) {
				width: 2rem;
			}

			td:nth-child(3) {
				text-align: left;
			}
		}
	}

	label,
	input {
		font-family: var(--monospace-font);
	}

	button,
	input {
		font-size: var(--font-size-0);
		padding: var(--margin-0);
	}

	button .material-icons {
		font-size: var(--font-size-1) !important;

	}

	&:nth-child(odd) {
		background-color: var(--color-surface-1);
	}

	&:nth-child(even) {
		background-color: var(--color-surface-0);
	}
}

.material-icons {
	line-height: 1;
	vertical-align: middle;
}

table {
	margin-top: var(--margin-1);
	margin-bottom: var(--margin-1);
	border-collapse: collapse;
	border: 2px solid var(--color-border-0);

	&.striped {
		thead {
			background-color: var(--color-surface-2);
		}
	}

	thead tr th {
		border-bottom: 2px dashed var(--color-border-1);
	}

	td,
	th {
		padding: var(--margin-0);
	}
}

table.striped {
	tbody tr:nth-child(even) {
		background-color: var(--color-surface-2);
	}
}

.button-panel {
	width: 720px;
	height: max-content;

	&:has(> button:nth-child(1)) {
		--count: 1;
	}

	&:has(> button:nth-child(2)) {
		--count: 2;
	}

	&:has(> button:nth-child(3)) {
		--count: 3;
	}

	&:has(> button:nth-child(4)) {
		--count: 4;
	}

	/* width: calc(max-content * var(--count) - (var(--margin-1) * var(--count))); */
	button {
		min-width: calc(100% / var(--count) - (var(--margin-1)));
		height: 100%;
		text-align: left;
	}
}