article {
	padding: var(--margin-1);
}
.panel {
	box-shadow: var(--margin-0) var(--margin-0) var(--margin-0) 0px var(--color-surface-0);
	border: 2px solid var(--color-border-0);
	padding: var(--margin-0);
}
details.panel {
	/* padding: var(--margin-0); */
	&:hover {
		border-color: var(--color-border-0);
	}
	&:has(summary:focus-visible) {
		border-color: var(--color-highlight);
	}
	&[open]>summary {
		margin-left: var(--margin-0);
		padding-bottom: var(--margin-0);
		border-bottom: 2px dashed var(--color-border-0);
	}
	summary {
		margin-left: var(--margin-0);
		&:focus-visible {
			outline: none;
		}
	}
	> *:nth-child(2) {
		padding: var(--margin-1);
	}
}
details.panel ~ details.panel {
	margin-top: var(--margin-2);
}