.combobox {
	display: inline-block !important;
	width: fit-content;
	position: relative;

	menu {
		/* display: table; */
		padding: 0;
		margin: 0;
		margin-top: -2px;
		border: 2px solid var(--color-border-0);
		border-top: none;
		background-color: var(--color-surface-1);
		box-shadow: 6px 6px 6px 0px var(--color-surface-0);
		
		box-sizing: border-box;
		min-width: 100%;
		z-index: 999;
		visibility: hidden;
		max-height: 33vh;
		position: absolute;
		overflow-y: scroll;
		width: auto;
		overflow-x: hidden;
		div {
			display: table !important;
			width: 100%;
			button {
				width: 100%;
				min-width: max-content;
				margin: 0 !important;
				text-align: start;
				border: 1px dashed var(--color-border-0);
				font-family: var(--monospace-font);
				font-size: var(--font-size-0);

				&:hover {
					border-color: var(--color-border-1);
				}

				&:focus-visible {
					color: var(--color-highlight);
					border-color: var(--color-highlight);
				}
			}
		}
	}

	&.open>menu {
		visibility: visible;
	}
}