.combobox {
	display: inline-block !important;
	width: fit-content;
	position: relative;
	input {
		margin-right: 0 !important;
	}
	menu {
		/* display: table; */
		padding: 0;
		margin: 0;
		margin-top: -2px;
		border: 2px solid var(--color-border-0);
		border-top: none;
		background-color: var(--color-surface-1);
		box-shadow: 6px 6px 6px 0px var(--color-surface-0);
		
		box-sizing: border-box;
		min-width: 100%;
		z-index: 999;
		visibility: hidden;
		max-height: 33vh;
		position: absolute;
		width: auto;
		overflow-x: hidden;

		div {
			display: table !important;
			width: 100%;
			& > button {
				width: 100%;
				min-width: max-content;
				margin: 0 !important;
				width: 100%;
				display: flex;
				border: 1px dashed var(--color-border-0);
				border-left-width: 0;
				border-right-width: 0;
				font-family: var(--monospace-font);
				font-size: var(--font-size-0);

				&:hover {
					border-color: var(--color-border-1);
				}

				&:focus-visible {
					color: var(--color-blue);
					border-color: var(--color-blue);
					outline: none;
				}
				span:nth-child(1) {
					flex-grow: 1;
					text-align: start;
				}
				span:nth-child(2) {
					text-align: end;
					color: white;
				}
			}
		}
	}
	&.open>menu {
		visibility: visible;
		border-top: 1px dashed var(--color-border-0);
	}
}