article.license {
	article {
		details {
			min-width: 40em;
			width: fit-content;
		}
	}
	h3 {
		margin-bottom:  var(--margin-1);
	}
	table {
		min-width: 50%;
		border: 1px solid var(--color-border-0);
		border-collapse: collapse;
		margin-bottom:  var(--margin-1);
		td, th {
			text-align: left;
			padding: var(--margin-0) var(--margin-1);
		}
		tr.section > td {
			text-align: center;
			font-weight: bold;
		}
		tbody {
			> tr:nth-child(odd) {
				background-color: var(--color-surface-0);
			}
			> tr:nth-child(even) {
				background-color: var(--color-surface-1);
			}
		}
	}
}
