
article.license {
	article {
		details {
			min-width: 40em;
			width: fit-content;
		}
	}
	table {
		border: 1px solid var(--color-border-0);
		border-collapse: collapse;
		td, th {
			text-align: left;
			padding: 0 var(--margin-1);
		}
		tbody > tr {
			border-top: 1px dashed var(--color-border-0);
			&:nth-child(odd) {
				background-color: var(--color-surface-0);
			}
		}
	}
}
