.mapper-archives {
	padding-left: 0;

	&>li {
		list-style: none;
		padding: var(--margin-0);
		border: 2px dotted var(--color-border-0);

		>div {
			display: flex;
			gap: var(--margin-1);
			align-items: center;

			*:nth-child(2) {
				flex-grow: 1;
			}
		}

		button {
			margin-top: 0;
		}
	}
}