table.tree {
	width: 100%;
	border: none;
	margin: 0;
	padding-left: 0;
	border-collapse: collapse;
	font-family: var(--monospace-font);

	&>tbody>tr>th {
		width: 0;
		white-space: nowrap;
		text-align: left;
	}

	&>tbody>tr.leaf:not(:first-child) {
		border-top: 1px solid var(--color-border-1);
	}

	button:not(.icon-button),
	input {
		font-size: var(--font-size-0);
		padding: var(--margin-0);
		padding: 3.375px !important;
		contain: paint layout;
	}
	.combobox > input {
		contain: none;
	}
	input[role="switch"] {
		height: 29.25px;
	}

	.icon-button, input, button, .combobox {
		margin: 0 var(--margin-0) 0 0;
	}
}

tr.leaf {
	td, th {
		height: 40px;
		> * {
			vertical-align: middle;
		}
	}
	th {
		text-align: left;
		width: 0;
		white-space: nowrap;
	}
	td {
		display: flex;
		align-items: center;
		.hide-icon {
			margin-left: auto;
			margin-right: var(--margin-0);
			cursor: pointer;
		}
	}
}
