.no-padding {
	margin: 0;
	padding: 0;
}

.color-darker {
	color: var(--color-tone-3);	
}

.text-red {
	color: var(--color-red) !important;
}
.text-purple {
	color: var(--color-purple) !important;
}
.text-green {
	color: var(--color-green) !important;
}
.text-blue {
	color: var(--color-blue) !important;
}

.margin-top {
	margin-top: var(--margin-1);
}
.margin-left {
	margin-left: var(--margin-1);
}
.margin-right {
	margin-right: var(--margin-1);
}

button.blue,
button.red,
button.purple,
button.green {
	--button-background-default: var(--button-base-color);
	--button-background-hover: color-mix(in oklab, var(--button-base-color) 90%, white 10%);
	--button-border-default: var(--button-base-color);
	--button-border-hover: var(--button-base-color);
	--button-border-disabled: var(--button-base-color);
}
button.blue {
	--button-base-color: var(--color-blue);
}
button.green {
	--button-base-color: var(--color-green);
}
button.purple {
	--button-base-color: var(--color-purple);
}
button.red {
	--button-base-color: var(--color-red);
}

.float-right {
	float: right;
}

.hidden {
	display: none;
}