.mud-collapse-entering {
    animation-duration: 0.2s !important }
.mud-collapse-exiting {
    animation-duration: 0.2s !important }
tr:nth-child(even) {
    background-color: #424242;
}
tr:nth-child(odd) {
    background-color: #212121;
}
